@charset "utf-8";

*,
::before,
::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}

body{
    font-family: sans-serif;
    font-size: 16pt;
    color: #000000;
    line-height: 1;
    background-color: #ffffff;
}

/* ヘッダーのスタイル ここから */
nav {
    background: #2b4b6f;
    padding: 12px 0;
    margin-bottom: 32px;
    border-radius: 8px 8px 0 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 24px;
    font-weight: bold;
    font-size: 1.1em;
}

nav a:hover {
    text-decoration: underline;
}

nav.floating{
    position: absolute;
    top: 100px;
    left: 50px;
    background-color: #d0d0d0;
}

.site-menu ul{
    display: flex;
}

.site-menu ul li{
    margin-left: 20px;
    margin-right: 20px;
}

.site-menu ul li a{
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/*
.toggle-menu-button{
    display: none;
}*/

/* ヘッダー用のスタイル ここまで */

/* メイン用のスタイル ここから */ 
.title{
    height: 310px;
    background-image: url(../images/index/image.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.title h1{
    font-family: "Montserrat", sans-serif;
    font-size: 32pt;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 1px 1px 10px #2c1b8a;
}

.my-pr-text{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-bottom: 80px;
    color: black;
    font-weight: bold;
}

.my-pr-text p{
    font-size: 30px;
    margin-top: 30px;
    line-height: 1.8;
}

.my-pr-text ul{
    font-size: 24px;
    margin-bottom: 10px;
}

.my-pr-text h2{
    font-size: 30px;
    margin-top: 32px;
    margin-bottom: 10px;
}

.my-pr-text h2::after {
    content: "";
    display: block;
    width: 49px;
    height: 3px;
    background-color: #000000;
    margin-top: 20px;
}

.my-pr-text li{
    margin-top: 30px;
    list-style-type: disc; /* 点をつけたい場合 */
    padding-left: 40px;    /* インデントを適度に */
}

/* メイン用スタイル ここまで */

/* フッターのスタイル ここから */
.footer{
    color: #ffffff;
    background-color: #2b4b6f;
    padding-top: 30px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright{
    font-size: 14px;
    font-weight: bold;
    margin-top: 90px;
}

/* フッターのスタイル ここまで */

@media (max-width: 800px) {
    .site-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 15px
    }

    .site-menu li{
        margin:0 5 px;
    }

    .header{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #ffffff;
        height: 60px;
        z-index: 10;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    }

    .main{
        margin-top: 60px;
    }

    .my-pr-text{
        font-size: 25px;
    }

    .copyright{
        margin-top: 50px;
    }
}
